#screen {
    width: 300px;
    height: 200px;
    text-align: center;
    user-select: none;

}

#screen.waiting {
    background-color: aquamarine;
}

#screen.ready {
    background-color: yellowgreen;
    color: brown;
}

#screen.now {
    background-color: palevioletred;
}